[data-whatintent='touch'],
[data-whatintent='mouse'] {
	*:focus {
		outline: none;
	}
}

* {
	box-sizing: border-box;
	outline: none;
	//	@extend %scrollbar;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	//touch-action: manipulation;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: $default-font;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 180%;
	color: $text-color;
	overflow-x: hidden;
	cursor: default;

	@media (max-width: 1600px) {
		font-size: 20px;
	}

	@media (max-width: 990px) {
		font-size: 16px;
		line-height: 182%;
	}

	@media (max-width: 760px) {
		line-height: 184%;
		font-size: 12px;
	}

	@media (max-width: 480px) {
		overflow-x: hidden;
		max-width: 100vw;
	}
}

main {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;

	&.no-style {
		padding: 0;
		list-style: none;
	}
}

button {
	border: none;
	cursor: pointer;
	font-family: $default-font;
}

img {
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	transition: opacity 0.25s;

	// @media (min-width: 991px) {
	// 	&:hover {
	// 		opacity: 0.8;
	// 	}
	// }
}

[contenteditable=true]:empty:before {
	content: attr(data-placeholder);
	color: #131313;
	font-size: inherit;
	display: block;
	/* For Firefox */
}

select {
	appearance: none;

	&::-ms-expand {
		// для IE
		display: none;
	}
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

b {
	font-weight: 700;
}

blockquote {
	margin: 0;
	padding-left: 22px;
	border-left: 2px solid $text-color;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 19px;

	p {
		font-style: italic;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 11px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@media (max-width: 1140px) {
		padding-right: 0;
		padding-left: 18px;
	}

	@media (max-width: 990px) {

		p {
			font-size: 14px;
			line-height: 20px;
		}

		font-size: 14px;
		line-height: 20px;
	}

	@media (max-width: 760px) {

		p {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 9px;
		}

		font-size: 12px;
		line-height: 16px;
		padding-top: 1px;
		padding-left: 15px;
		padding-bottom: 0;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $text-color;
}

h1,
h2 {
	font-weight: 300;
}

h3,
h4,
h5 {
	font-weight: normal;
}

h6 {
	font-weight: 500;
}

h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 40px;

	@media (max-width: 1440px) {
		font-size: 46px;
		line-height: 52px;
	}

	@media (max-width: 990px) {
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
	}
}

h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: $text-color;

	@media (max-width: 1600px) {
		font-size: 54px;
	}

	@media (max-width: 990px) {
		font-size: 40px;
	}

	@media (max-width: 760px) {
		font-size: 24px;
	}
}

h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.02em;

	@media (max-width: 1600px) {
		font-size: 32px;
	}

	@media (max-width: 990px) {
		font-size: 24px;
	}

	@media (max-width: 760px) {
		font-size: 16px;
	}
}

h4 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.02em;



	// @media (max-width: 990px) {
	// 	font-style: normal;
	// 	font-weight: 600;
	// 	font-size: 14px;
	// 	line-height: 22px;
	// }
}

h5 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;

	@media (max-width: 990px) {
		font-size: 14px;
		line-height: 20px;
	}
}

h6 {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 21px;

	// @media (max-width: 991px) {
	// 	font-size: 14px;
	// 	line-height: 1.5;
	// }

}

.container {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	padding: 0 60px;

	@media (max-width: 1440px) {
		padding: 0 32px;
	}

	@media (max-width: 760px) {
		padding: 0 16px;
	}

}

// Заголовки

.podz {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;

	@media (max-width: 990px) {
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
	}
}

.p1 {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 34px;

	@media (max-width: 1440px) {
		font-size: 20px;
		line-height: 24px;
	}

	@media (max-width: 990px) {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
}

.p2 {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;

	@media (max-width: 1140px) {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
	}

	@media (max-width: 990px) {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
	}
}

.p3 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	@media (max-width: 990px) {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
	}
}

.podp {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	@media (max-width: 990px) {
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 15px;
	}
}




// Кнопки
.btn {
	position: relative;
	height: 42px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	padding-bottom: 2px;
	padding-right: 13px;
	padding-left: 13px;
	border: 2px solid $text-color;
	border-top: 1px solid $text-color;
	border-left: none;
	margin-top: 8px;
	margin-left: 8px;
	transition: background 0.25s,
		color 0.25s,
		border-color 0.25s;
	z-index: 1;
	border-radius: 1px 1px 0px 2px;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 14px;
		height: 43px;
		top: -6px;
		left: -12px;
		transform: skewY(41deg) rotateY(37deg);
		border-top: 3px solid $text-color;
		border-bottom: 3px solid $text-color;
		border-left: 2px solid $text-color;
		border-right: 3px solid $text-color;
		background: transparent;
		border-radius: 1px 0 2px 0;
		transition: inherit;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		border-top: 2px solid $text-color;
		border-bottom: 2px solid $text-color;
		border-right: 3px solid $text-color;
		width: calc(100% + 2px);
		height: 11px;
		top: -11px;
		left: -5px;
		transform: skewX(50deg) rotateY(0deg);
		border-left: none;
		border-radius: 2px 0 3px 0;
		transition: inherit;
		background: transparent;
	}

	&:hover {
		background: $text-color;
		color: $wcol;
		border-color: $wcol;

		&::before,
		&::after {
			background: $text-color;
			border-color: $wcol;
		}
	}

	// &[disabled] {
	// 	background: $cg;
	// 	color: $cg2;
	// 	cursor: not-allowed;
	// }

	// &:active {
	// 	background: #FF6E5A;
	// }

	@media (max-width: 575px) {
		height: 35px;
		padding-left: 15px;
		padding-right: 13px;
		border-width: 1px;
		margin-top: 5px;
		margin-left: 6px;
		font-weight: bold;
		font-size: 12px;
		line-height: 140%;
		padding-bottom: 1px;

		&::before {
			width: 10px;
			height: 35px;
			top: -4px;
			border-width: 1px;
			left: -8px;
			border-radius: 2px 0 2px 0;
		}

		&::after {
			height: 7px;
			top: -7px;
			border-width: 1px;
			left: -4px;
			// width: calc(100% + 1px);

		}
	}
}


.btn2 {
	font-family: $default-font;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	padding: 10px 40px 9px;
	height: 54px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: $text-color;
	transition: background 0.25s, color 0.25s, border 0.25s;
	border: 1px solid $text-color;
	outline: none;
	cursor: pointer;

	&:hover {
		border-color: $cr;
		color: $cr;
	}

	&[disabled] {
		background: #ffffff;
		color: $cg2;
		border-color: $cg;
		cursor: not-allowed;
	}

	&:active {
		color: $cr;
		border-color: $cr;
	}

	// @media (max-width: 990px) {
	// 	font-size: 12px;
	// 	line-height: 17px;
	// 	letter-spacing: 1.6px;
	// 	padding-top: 17px;
	// 	padding-bottom: 17px;
	// }
}




// Ссылки

.a1 {
	color: $cg2;
	transition: 0.25s;
	padding-bottom: 4px;
	border-bottom: 1px solid transparent;

	&:hover {
		border-color: $cr;
		color: $text-color;
	}

	&[disabled] {
		color: $cg2;
		opacity: 0.5;
		border-color: transparent;
	}
}

.a2 {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: $cb;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
	display: inline;
	transition: 0.25s;


	&:hover {
		border-color: $cb;
	}
}


.link {
	display: block;
	font-family: $default-font;
	font-weight: 400;
	font-size: 10px;
	line-height: 190%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.8;
	transition: 0.3s;
	transition-property: opacity;

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 0.8;
	}

	&[disabled] {
		opacity: 0.2;
	}
}

.link-arrow {
	position: relative;
	padding-right: 27px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	span {
		width: 16px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		top: 3px;
		left: calc(100% - 16px);
		display: inline-block;
		transition: 0.25s;

		svg {
			position: absolute;
			right: 0;
			top: 0;
			transition: 0.25s;
		}
	}

	&:hover {
		span {
			width: 30px;

			svg {
				fill: $cr;
			}
		}
	}

	@media (max-width: 575px) {
		div {
			display: none;
		}

		span {
			top: -9px;
		}
	}
}

.link-drop {
	display: flex;
	font-family: $default-font;
	font-weight: 400;
	font-size: 10px;
	line-height: 190%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 1;
	transition: 0.3s;
	transition-property: opacity;
	position: relative;
	white-space: nowrap;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 1;
	}

	&[disabled] {
		opacity: 0.1;
	}

	&:after {
		content: url(../img/svg/link-drop.svg);
		margin-left: 11px;
	}
}


// Инпут блок
.input-block {
	display: block;
	position: relative;
	margin-top: 16px;

	&:first-of-type {
		margin-top: 0;
	}


	&_check {
		.input-block__title {
			display: flex;
			// align-items: center;
			justify-content: space-between;
		}

		.default-checkbox {
			margin-top: -7px;
		}
	}

	.p2 {
		margin-bottom: 5px;
	}

	&__title {
		p {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			color: $text-color;
		}
	}

	input,
	textarea {
		box-sizing: border-box;
		color: #E0D5D0;
		font-family: $default-font;
		border: none;
		background: transparent;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 140%;
		padding-left: 0px;
		padding-right: 15px;
		transition: 0.3s;
		position: relative;
		z-index: 1;
		transition-property: border;
		height: 66px;
		box-sizing: border-box;
		width: 100%;
		max-width: 500px;
		border-bottom: 2px solid #E0D5D0;
		// margin-top: 12px;
		outline: none;

		&::-webkit-input-placeholder {
			color: #E0D5D0;
		}

		&::-moz-placeholder {
			color: #E0D5D0;
		}

		/* Firefox 19+ */
		&:-moz-placeholder {
			color: #E0D5D0;
		}

		/* Firefox 18- */
		&:-ms-input-placeholder {
			color: #E0D5D0;
		}

		&:focus {
			border-color: #A8E300;
			// &::-webkit-input-placeholder {
			// 	color: transparent;
			// }

			// &::-moz-placeholder {
			// 	color: transparent;
			// }

			// /* Firefox 19+ */
			// &:-moz-placeholder {
			// 	color: transparent;
			// }

			// /* Firefox 18- */
			// &:-ms-input-placeholder {
			// 	color: transparent;
			// }

			// border-bottom: 1px solid rgba(255, 255, 255, 1);

			// &+label {
			// 	font-size: 13px;
			// 	line-height: 24px;
			// 	top: -7px;
			// }
		}

	}

	textarea {
		padding-top: 16px;
		resize: none;
	}

	&__subtitle {
		margin-top: 5px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #6A6E7C;
	}

	.message {
		width: 100%;
		position: absolute;
		bottom: -18px;
		left: 0;
		transform: translateY(90%);
		padding: 18px 24px 16px;
		background-color: white;
		color: #131225;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		visibility: hidden;
		opacity: 0;
		transition: 0.3s linear;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 26px;
			transform: translateY(-50%) rotate(45deg);
			width: 12px;
			height: 12px;
			background-color: white;
		}
	}

	&.wrong {

		input,
		textarea,
		.simple-select,
		.simple-select__selected,
		.simple-select__selected::before,
		.default-checkbox__custom {
			border-color: #FF8F70;
			color: #FF8F70;
		}
	}

	@media (max-width: 990px) {
		margin-top: 16px;

		input,
		textarea {
			max-width: initial;
		}

		// input,
		// textarea {
		// 	font-style: normal;
		// 	font-weight: 300;
		// 	font-size: 12px;
		// 	line-height: 14px;
		// 	padding-left: 12px;
		// 	padding-right: 12px;
		// 	margin-top: 0;
		// }

		// textarea {
		// 	padding-top: 12px;
		// }

		// input {
		// 	height: 38px;
		// 	max-width: 370px;
		// }
	}

	@media (max-width: 575px) {

		// margin-bottom: 15px;
		margin-top: 9px;

		input,
		textarea {
			font-size: 12px;
			height: 32px;
			border-width: 1px;
		}

		textarea {
			padding-top: 8px;
		}
	}
}

// Чекбокс
.checkbox {
	&-old {
		display: none;
	}

	&-custom {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 0px;
		background: rgba(255, 255, 255, 0.06);
		border: 1px solid rgba(255, 255, 255, 0.6);
		transition: 0.3s;
		cursor: pointer;
	}

	&-label {
		display: inline-block;
		vertical-align: middle;
		color: rgba(255, 255, 255, 0.3);
		padding-left: 8px;
		transition: 0.3s;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
	}

	&-old:checked+&-custom {
		background: rgba(255, 255, 255, 1);
		transition: 0.3s;
	}

	&-old:checked+&-custom::before {
		content: "";
		display: block;
		position: absolute;
		left: 4px;
		top: 5px;
		width: 10px;
		height: 5px;
		border-bottom: 2px solid black;
		border-left: 2px solid black;
		transform: rotate(-50deg) skew(-5deg);
		border-radius: 2px;
		transition: 0.3s;
	}

	&-old:checked+&-custom+&-label {
		color: rgba(255, 255, 255, 0.8);
	}

	&-old[disabled]+&-custom {
		background: rgba(255, 255, 255, 0.012) !important;
		border: 1px solid rgba(255, 255, 255, 0.12) !important;
		transition: 0.3s;
		cursor: default;
	}

	&-old[disabled]+&-custom::before {
		display: none !important;
	}

	&-old[disabled]+&-custom+&-label {
		color: rgba(255, 255, 255, 0.06) !important;
		cursor: default;
	}

	&-old:checked[disabled]+&-custom {
		background: rgba(255, 255, 255, 0.2) !important;
		border: 1px solid rgba(255, 255, 255, 0) !important;
		transition: 0.3s;
	}

	&-old:checked[disabled]+&-custom::before {
		content: "";
		display: block !important;
		position: absolute;
		left: 4px;
		top: 5px;
		width: 10px;
		height: 5px;
		border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
		border-left: 2px solid rgba(0, 0, 0, 0.2) !important;
		transform: rotate(-50deg) skew(-5deg);
		border-radius: 2px;
		transition: 0.3s;
	}

	&-old:checked[disabled]+&-custom+&-label {
		color: rgba(255, 255, 255, 0.16) !important;
	}


	&:hover &-custom {
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid #FFFFFF;
	}

	&:hover &-label {
		color: rgba(255, 255, 255, 0.8);
	}

	&:hover &-old:checked+&-custom {
		background: #FFFFFF;
	}

	&:hover &-old:checked+&-custom::before {
		border-color: rgba(0, 0, 0, 0.3);
	}

	&.wrong {
		.checkbox-custom {
			border-color: red;
		}
	}

	@media (max-width: 560px) {
		&-custom {
			height: 16px;
			width: 16px;
		}

		&-label {
			font-size: 10px;
			line-height: 15px;
			padding-left: 13px;
		}
	}


}