// Widths
$mobile-sm: 479px;
$mobile: 575px;
$mobile-big: 767px;
$tablet: 991px;
$desktop: 1199px;

// Fonts
$default-font: 'Manrope',
sans-serif; //300/500/600/800/900
$sec-font: 'MuseoSansCyrl',
sans-serif; //300/500/600/800/900
$gilroy-font: 'Gilroy',
sans-serif; //300/500/600/800/900

// Colors
$cr: #EF6957;
$text-color:#242B2F;
$wcol:#E0D5D0;
$cg:#F9F9F9;
$cg2: #8A8A89;
$cg3:#F5F7FB;
$cb:#4985DF;

// $text-color:#323260;
// $text-color2: #363636;

$color-error: red;