APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:zATMP6+DDNoBfEF1QKs2v8h3uq/V3IasU9ujylnJ3C4=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
FRONT_APP_URL=
LOG_CHANNEL=single

DOCKER_WEB_PORT=
DOCKER_USER_ID=
DOCKER_GROUP_ID=
DOCKER_PQSQL_PORT=
ADMINER_PORT=

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=activity
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
QUEUE_CONNECTION=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mail
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

JWT_SECRET=

TELEGRAM_BOT_KEY=
TELEGRAM_BOT_LINK=
REDIRECT_HTTPS=true

UID=1000
GID=1000

#container name
WEB_CONTAINER_NAME=
PHP_CONTAINER_NAME=
SCHEDULER_CONTAINER_NAME=
PGSQL_CONTAINER_NAME=
ADMINER_CONTAINER_NAME=
